body {
			background-image: url(images/whitebg.jpg);
			font-family: Garamond, "Times New Roman",Serif;
			text-align: center;
			padding-top: 50px;
			}
		h1{
			font-size: 300%;
			text-align: center;
			color: #292d4a;
			}
		h2 {
			color: #292d4a;
			}
		h3 {
			color: #858585;
			}
		.heading span {
			font-style: italic;
			font-weight: bold;
			color: #cf224d;
			}
		hr {
			width: 20%;
			border: 1px solid #858585;
			}
		.form {
			   padding-top:20px;
			   width:50%;
			   margin: auto;
			   }			
		label{
    		display: none;
			}
		input [type=submit]
			{width: 50%;
			}
		input, textarea {
  			display: inline-block;
  			width: 100%;
			}
		textarea {
			height: 50px;
			}
		li {
			display: inline;
			margin-right:5px;
			}
		.end {
			padding-top:10px;
			}
		a {
			text-decoration: none;
			color: white;
			background-color: #292d4a;
			padding: 5px;
			margin-top:10px;
			}
		a:hover, a:active {
      		background-color: #cf224d;
			}
		